extends layout

block content
  h1= title
  form#formGetTripInfo(name="addinput",method="post",action="/addinput")
    input#inputBudget(type="number", placeholder="budget", name="budget")
    select(name="mood")
      option happy
      option romantic
      option adventurous
      option relaxing
    button#btnSubmit(type="submit") submit