extends layout

block content
  h1= title
  form#formGetTripInfo(name="addinput",method="post",action="/addinput")
    input#inputBudget(type="number", placeholder="budget", name="budget")
    input#inputMood(type="text", placeholder="mood", name="mood")
    button#btnSubmit(type="submit") submit